* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: lightgrey;
}

#main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#color-window {
    height: 550px;
    width: 350px;
    background-color: black;
    align-self: center;
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    box-shadow: 2px 2px 2px black, 10px 10px 10px black;
}

#color-name {
    font-size: 3.5rem;
    color: black;
    align-self: flex-start;
    text-transform: uppercase;
    background-color: transparent;
    margin: 0;
    padding-bottom: 25%;
    width: 100%;
}

#button {
    height: 175px;
    width: 100%;
    background-color: white;
    color: black;
    align-self: flex-end;
    text-align: left;
    font-size: 3.5rem;
    border: none;
}

button:focus {
    outline: none;
}





