* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: black;
}

#main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#color-window {
    height: 600px;
    width: 400px;
    background-color: black;
    align-self: center;
    display: flex;
    justify-content: center;
    border: 2px solid grey;
}

#color-name {
    font-size: 3.5rem;
    color: black;
    align-self: flex-start;
    text-transform: uppercase;
    background-color: transparent;
    padding-bottom: 30%;
    width: 225px;
}

#button {
    height: 150px;
    width: 100%;
    background-color: white;
    color: black;
    align-self: flex-end;
    text-align: left;
    font-size: 3rem;
}

button:focus {
    outline: none;
}



